<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase /php_bs_tw/public

#accept loading of actual files and directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#send everything else to the index page
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>